footer h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 21px;
}

footer a, p, span {
  font-family: "Hind", sans-serif;
  color: #717171;
}

.s1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  color: #ffffff;
}
.s1 p {
  font-family: "Hind", sans-serif;
  color: #ffffff;
  font-size: 1em;
  opacity: 65%;
}

.s2 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
}
.s2 h3 {
  color: #ffffff;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
}
.s2 p {
  font-family: "Hind", sans-serif;
  font-size: 1.2em;
}
.s2 .under_title p {
  font-size: 0.9em;
  font-weight: 900;
}

.footer {
  min-height: 75vh;
  width: 100vw;
  background-image: url("resources/images/gallery/room-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
}
.footer__mpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 15vh 15vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  gap: 10%;
  background-color: rgba(66, 66, 66, 0.3);
}
.footer__mpage ul:nth-child(3) {
  display: flex;
  flex-direction: column;
  min-width: 20%;
}
.footer__mpage ul:nth-child(3) li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.footer__mpage--bold {
  color: white;
}
.footer__mpage--number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  color: #717171;
  position: relative;
  right: 30px;
  bottom: 13px;
}
.footer__mpage--number::after {
  content: "";
  width: 2em;
  height: 2px;
  border-radius: 5px;
  background: rgba(190, 0, 3, 0.3);
}
.footer__mpage--logo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
}
.footer__mpage--logo i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  aspect-ratio: 1/1;
  background-color: rgba(116, 116, 116, 0.2);
  border-radius: 100px;
  color: white;
}
.footer__mpage ul {
  align-items: flex-start;
}
.footer__mpage ul:nth-child(2) a {
  letter-spacing: 0.1em;
}
.footer__mpage ul:nth-child(4) {
  max-width: 20%;
}
.footer__mpage ul:nth-child(4) li {
  padding: 0;
}
.footer__mpage ul:nth-child(4) h3 {
  padding-bottom: 1.2em;
}
.footer__mpage h3 {
  padding-bottom: 0.5em;
}
.footer__mpage a {
  color: rgba(255, 255, 255, 0.5);
}
.footer__mpage li {
  padding-bottom: 1.1em;
}
.footer__bpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
}
.footer img {
  padding-bottom: 1em;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__mpage {
    padding: 10vh 5vw;
    gap: 8%;
  }
  .footer__mpage ul:nth-child(1) h3 {
    width: 70%;
  }
  .footer__mpage ul:nth-child(4) h3 {
    width: 70%;
  }
  .footer__mpage ul:nth-child(3) {
    min-width: 25%;
  }
  .footer__mpage ul:nth-child(3) h3 {
    width: 70%;
  }
}
@media only screen and (max-width: 412px) {
  .footer__mpage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5vh 15vw;
  }
  .footer__mpage ul:nth-child(4) {
    width: 90%;
  }
  .footer__mpage ul:nth-child(4) {
    max-width: 90%;
  }
  .footer__mpage--logo {
    display: flex;
  }
  .footer__mpage--logo i {
    width: 1.8em;
  }
}
@media only screen and (min-width: 412px) and (max-width: 768px) {
  .footer__mpage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5vh 15vw;
  }
  .footer__mpage ul:nth-child(4) {
    width: 90%;
  }
  .footer__mpage ul:nth-child(4) {
    max-width: 90%;
  }
  .footer__mpage--logo {
    display: flex;
  }
  .footer__mpage--logo i {
    width: 1.8em;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

footer a {
  text-decoration: none;
}

.s1 {
  width: 100%;
  height: 100vh;
  background: rgba(27, 27, 27, 0);
  background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, rgb(27, 27, 27) 90%, rgb(27, 27, 27) 100%), url("/resources/images/gallery/slide-4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s1 p {
  letter-spacing: 4px;
  padding-top: 3vh;
}
.s1 p::before {
  content: "";
  display: inline-block;
  width: 4.5vw;
  height: 2px;
  border-radius: 5px;
  background: white;
  position: relative;
  bottom: 4px;
  padding-right: 1em;
  margin-right: 1vw;
  opacity: 50%;
}
.s1__div2 {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
}
.s1__div2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.s1__div2 li {
  width: 30px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  margin: 9px;
  border-radius: 25px;
}
.s1__div1 {
  padding-left: 7vw;
  padding-bottom: 3em;
}

.s2 {
  min-height: 210vh;
  background-color: #1B1B1B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10em;
}
.s2 h2 {
  color: #ffffff;
}
.s2__article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s2__article--div {
  width: 28em;
  height: 34em;
  background-color: #222222;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.8);
  padding: 5em 3em;
}
.s2__article--div div {
  color: #717171;
}
.s2__article--div .under_title {
  display: flex;
  gap: 1em;
}
.s2__article--div .under_title i {
  padding-right: 0.5em;
}
.s2__article--div h3 {
  padding: 1em 0 0.2em 0;
}
.s2__article--div p {
  padding: 1em 0 2em 0;
  line-height: 1.5em;
}
.s2__article--div button {
  color: #ffffff;
  padding: 1em 3em;
  border-radius: 50px;
  background-color: #be0003;
  border: none;
}
.s2__article figure {
  width: 38em;
  height: 25em;
}
.s2__article figure img {
  height: 100%;
  width: 100%;
  background-position: center;
}

.active {
  width: 50px !important;
  background-color: #ffffff !important;
}

/*# sourceMappingURL=style.css.map */
