<html>
  <head>
    <link href="../base/style.css" rel="stylesheet" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap");
    </style>
  </head>

  <header>
    <nav>
      <div id="mySidenav" class="sidebar">
        <a id="closeBtn" href="#" class="close">x</a>

        <img src="../ressources/images/logo/logo.png" alt="logo escapium" />

        <ul>
          <li>
            <div class="oblique-line"></div>
            <a>home</a>
          </li>
          <li>
            <div class="oblique-line"></div>
            <a>about</a>
          </li>
          <li>
            <div class="oblique-line"></div>
            <a>features</a>
          </li>
          <li>
            <div class="oblique-line"></div>
            <a>rooms</a>
          </li>
          <li>
            <div class="oblique-line"></div>
            <a>booking</a>
          </li>
          <li>
            <div class="oblique-line"></div>
            <a>blog</a>
          </li>
          <li>
            <div class="oblique-line"></div>
            <a>contacts</a>
          </li>
        </ul>
      </div>

      <div>
        <a class="button_booknow">Book Now!</a>
      </div>
    </nav>

    <a href="#" id="openBtn">
      <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
  </header>
  <body></body>
</html>
