<header>
  <nav>
    <img src="" alt="logo escapium" />
    <ul>
      <li>
        <a>home<i class=""></i></a>
      </li>
      <li><a>about</a></li>
      <li>
        <a>features<i class=""></i></a>
      </li>
      <li>
        <a>rooms<i class=""></i></a>
      </li>
      <li><a>booking</a></li>
      <li><a>blog</a></li>
      <li><a>contacts</a></li>
    </ul>
    <div>
      <a>Book Now!<i class="fas fa-arrow-right"></i></a>
    </div>
    <a id="burgerMenu"><i class="fa-solid fa-bars"></i></a>
  </nav>
</header>
