$red: #be0003;
$darkest-background: #1B1B1B;
$dark-background: #222222;
$white-background: #fefefe;
$global-font-color: #717171;
$nav-font-color: #777;
$whitefont: #ffffff;


$big-screens-h1: 120px;
$big-screens-h2: 44px;
$big-screens-h3: 32px;
$big-screens-p: 16px;
$big-creens-smaller-text : 11px;

$mobile-h1: 32px;
$mibile-h2: 19px;
$mobile-h3: 21px;
$mobile-p: 14px;
$mobile-smaller-text: 10px;
