.s1 {
    width: 100%;
    height: 100vh;
    background: rgba(27,27,27,0);
    background: linear-gradient(180deg, rgba(27,27,27,0) 0%, rgba(27,27,27,1) 90%, rgba(27,27,27,1) 100%), url('/resources/images/gallery/slide-4.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        letter-spacing: 4px;
        padding-top: 3vh;
    }

    p::before{
        content: "";
        display: inline-block;       
        width: 4.5vw;
        height: 2px;
        border-radius: 5px;
        background: rgba($whitefont, $alpha: 1);
        position: relative;
        bottom: 4px;
        padding-right: 1em;
        margin-right: 1vw;
        opacity: 50%;
    }
    &__div2{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30px;

        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
        li{
            width: 30px;
            height: 2px;
            background-color: rgba($color: #ffffff, $alpha: 0.4);
            display: block;
            margin: 9px;
            border-radius: 25px;
        }
    }

    &__div1{
        padding-left: 7vw;
        padding-bottom: 3em;
    }
}

.s2{
    min-height: 210vh;
    background-color: $darkest-background;
    @include display_flex_column;
    gap: 8em;

    &__buttonendpage{
        padding: 1em 2.5em;
        border: 2px solid $global-font-color;
        color: $whitefont;
        border-radius: 50px;
        margin-bottom: 5em;
    }

    .line{
        display: block;
        background-color: $whitefont;
        width: 40px;
        height: 3px;
        opacity: 25%;
        border-radius: 35px;
        position: relative;
        top: 2em;
    }

    & h2{
        color: $whitefont;
    }

    &__article{
        @include display_flex_row;
        
        &--div{
            width: 28em;
            height: 34em;
            background-color: $dark-background;
            box-shadow: 0 0 35px rgba($color: #000000fa, $alpha: 0.8);
            padding: 5em 3em;

            div{
                color: $global-font-color;
            }

            .under_title{
                display: flex;
                gap: 1em;
                padding-top: 0.5em;

                i{
                    padding-right: 0.5em;
                }
            }
            
            h3{
                padding: 1em 0 0.2em 0;
            }

            p{
                padding: 0.5em 0 2.3em 0;
                line-height: 1.5em;
            }

            button{
                color: $whitefont;
                padding: 1em 3em;
                border-radius: 50px;
                background-color: $red;
                border: none;
            }
        }

        & figure{
            width: 38em;
            height: 25em;

           & img{
            height: 100%;
            width: 100%;
            background-position: center;
           }
        }
    }  
}

.active{
    width: 50px !important;
    background-color: $whitefont !important;
}

.s3{
    @include display_flex_column;
    min-height: 90vh;
    background-color: $dark-background;
    padding: 0 15vw 10vh;

    .line{
        display: block;
        background-color: $whitefont;
        width: 40px;
        height: 3px;
        opacity: 25%;
        border-radius: 35px;
        position: relative;
        top: 3em;
    }

    h2{
        color: $whitefont;
        padding: 2em 0 1.5em 0;
    }

    h3{
        padding: 1.5em 0 1em 0;
    }

    &__div{
        @include display_flex_row;
        gap: 6em;


        article{
            @include display_flex_column;
            min-width: 24em;

            p{
                text-align: center;
            }
            .intline{
                display: block;
                background-color: rgba($color: #ffffff, $alpha: 0.1);
                width: 15em;
                height: 2px;
                rotate: 120deg;
                z-index: 0;
                position: relative;
                bottom: 5em;
            }
            i{
                @include display_flex_row;
                width: 2em;
                aspect-ratio: 1 / 1;
                background-color: $dark-background;
                font-size: 5em;
                border: 2px solid rgba($color: #ffffff, $alpha: 0.1);
                border-radius: 100px;
                color: rgba($color: #fff, $alpha: 1);
                z-index: 100;
                position: relative;
            }
        }
    }
}

.s4{
    min-height: 90vh;
    @include display_flex_column;
    gap: 7em;
    background-color: white;
    padding: 10vh 20vw;

    .line{
        display: block;
        background-color: $darkest-background;
        width: 40px;
        height: 3px;
        opacity: 40%;
        border-radius: 35px;
        position: relative;
        top: 3em;
    }
    
    &__container{
        @include display_flex_row;
        gap: 10vw;
        &--article{
            @include display_flex_column;
            text-align: center;
            
            figure{
                padding: 2.5em 0 1.5em 0;
            }
        }
    }

    &__bpage{
        display: flex;

        & span{
            display: block;
                background-color: rgba($color: #9e9e9e, $alpha: 0.5);
                width: 8em;
                height: 2px;
                rotate: 120deg;
                z-index: 0;
                position: relative;
                bottom: -1.5em;
        }
        
        i{
            font-size: 3em;
            color: $dark-background;
            opacity: 70%;
        }
    }
}

.s5{
    @include display_flex_column;
    background-color: $darkest-background;
    min-height: 110vh;
    padding: 10vh 15vh;
    
    &__article{
        @include display_flex_row_start;
        gap: 2em;

        &--figure1{
            width: 400px;
            height: 236px;
            overflow: hidden;
            background: rgba(27,27,27,0);
            background: linear-gradient(180deg, rgba(27,27,27,0) 0%, rgba(27,27,27,1) 99%, rgba(27,27,27,1) 100%), url(../resources/images/gallery/room-9.jpg);
            background-position: center center;
            background-size: 420px;
        }
        &--figure2{
            width: 400px;
            height: 236px;
            overflow: hidden;
            background: rgba(27,27,27,0);
            background: linear-gradient(180deg, rgba(27,27,27,0) 0%, rgba(27,27,27,1) 99%, rgba(27,27,27,1) 100%), url(../resources/images/gallery/post-img-2.jpg);
            background-position: center center;
            background-size: 420px;
        }
        &--figure3{
            width: 400px;
            height: 236px;
            overflow: hidden;
            background: rgba(27,27,27,0);
            background: linear-gradient(180deg, rgba(27,27,27,0) 0%, rgba(27,27,27,1) 99%, rgba(27,27,27,1) 100%), url(../resources/images/gallery/room-7.jpg);
            background-position: center center;
            background-size: 420px;
        }

        article{
            width: 400px;
            height: 236px;
        }

        &--img{
            width: 400px;
            
        }

        &--author{
            @include display_flex_row;
            position: relative;
            right: 115px;
            bottom: 60px;

            img{
                border-radius: 50px;
                border: 2px solid white;
                margin-right: 10px;
            }

        }
    }
}