@import url(/layouts/navbar.css);
@import url(/layouts/footer.css);

header {
  background: rgba(27, 27, 27, 0);
  background: linear-gradient(
      180deg,
      rgba(27, 27, 27, 0) 0%,
      rgba(27, 27, 27, 1) 90%,
      rgba(27, 27, 27, 1) 100%
    ),
    url(../ressources/gallery/slide-1.jpg);
  background-size: contain;
  height: 50vh;
  filter: contrast(125%);

  h1 {
    text-align: center;
    font-size: 120px;

    .about_h1_title {
      color: white;
    }

    .about_h1_point {
      color: red;
    }
  }
}

//pout tous les titres H2
h2 {
  font-size: 44px;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", "sans serif";
}

.howtoplay {
  background-color: #222222;
  font-family: "Montserrat", "sans serif";

  .howtoplay_flexbox {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;

    .howtoplay_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      height: 320px;
      justify-content: space-between;

      .howtoplay_icon {
        width: 55px;
        border: 1px solid #717171;
        border-radius: 100px;
        padding: 30px;
      }
    }
  }

  h3 {
    font-size: 32px;
    color: white;
  }

  p {
    font-size: 16px;
    color: #717171;
    text-align: center;
  }
}
.certificates {
  background-color: #1b1b1b;

  .certificates_flexbox {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
  }
}

.ourteam {
  background-color: #222222;

  .ourteam_container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;

    .ourteam_flexbox {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 350px;
      align-items: center;

      .ourteam_img {
        width: 300px;
        filter: brightness(50%);
      }
      .ourteam_member_name {
        font-size: 16px;
        color: white;
        font-family: "Montserrat", "sans serif";
      }

      .ourteam_job_title {
        font-size: 11px;
        color: #717171;
        font-family: "Montserrat", "sans serif";
      }
    }
  }
}

.what_people_say {
  background-color: #1b1b1b;
  font-family: "Montserrat", "sans serif";

  .read_testimonials {
    color: #f60b0e;
    text-decoration: underline;
    text-align: center;
  }

  .testimonials_flexbox {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: space-between;
    flex-wrap: wrap;

    .testimonials_containers {
      display: flex;
      flex-direction: column;
      width: 310px;
      justify-content: space-between;
      align-items: center;

      .testimonials_text {
        text-align: center;
      }

      .testimonials_avatar {
        width: 50px;
      }

      .testimonials_name {
        font-size: 11px;
      }
    }

    p {
      color: #717171;
    }
  }

  .testimonials_navigation {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    i {
      color: white;
    }

    .testimonials_oblique {
      height: 5px;
      color: #717171;
      font-size: 50px;
      font-weight: 100;
      padding-bottom: 50px;
    }
  }
}

.faq {
  padding-bottom: 100px;
  .h2_faq {
    color: black;
    padding-bottom: 20px;
  }

  .faq_if {
    font-size: 11px;
    color: #717171;
    text-align: center;
  }

  div {
    width: 500px;
    margin: auto;

    .panel {
      padding: 0 18px;
      background-color: white;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s ease-out;

      p {
        margin-left: 90px;
        color: #717171;
        font-family: "Hind";
      }
    }
  }

  .accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: white;
    font-size: 21px;
    text-align: left;
    margin-top: 20px;

    &::before {
      content: "\02795"; /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      padding: 10px;
      color: #777;
      float: left;
      margin-left: 5px;
      background-color: #eee;
      border: 1px solid #eee;
      border-radius: 50px;
      margin-right: 50px;
    }

    .active::before {
      content: "\2212";
    }
  }
}

@media only screen and (max-width: 412px) {
  .navbar {
    display: none;
  }

  header {
    h1 {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 21px;
  }

  .howtoplay {
    .howtoplay_flexbox {
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;

      .howtoplay_container {
        width: 200px;
        height: 250px;

        .howtoplay_icon {
          width: 35px;
          padding: 20px;
        }
      }
    }

    h3 {
      font-size: 19px;
    }

    p {
      font-size: 14px;
    }
  }

  .ourteam {
    .ourteam_container {
      padding-left: 20px;
      padding-right: 20px;

      .ourteam_flexbox {
        .ourteam_img {
          width: 200px;
        }

        .ourteam_member_name {
          font-size: 12px;
        }

        .ourteam_job_title {
          font-size: 8px;
        }
      }
    }
  }
  .certificates {
    .certificates_flexbox {
      flex-direction: column;

      img {
        margin-bottom: 50px;
      }
    }
  }

  .ourteam {
    .ourteam_container {
      flex-direction: column;
    }
    .ourteam_flexbox {
      flex-direction: column;
    }
  }

  .what_people_say {
    .testimonials_flexbox {
      flex-direction: column;
      padding-left: 100px;

      .testimonials_containers {
        width: 250px;
        .testimonials_text {
          font-size: 14px;
        }
      }
    }
  }

  .faq {
    div {
      width: 500px;

      .accordion {
        font-size: 16px;
      }

      .panel {
        width: 270px;
        p {
          font-size: 12px;
          width: 270px;
          margin-left: 30px;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) and (min-width: 412px) {
    header {
      h1 {
        font-size: 32px;
      }
    }

    h2 {
      font-size: 21px;
    }

    .howtoplay {
      .howtoplay_flexbox {
        padding-left: 50px;
        padding-right: 50px;
      }

      .howtoplay_container {
        width: 250px;
        height: 280px;

        .howtoplay_icon {
          width: 45px;
          padding: 25px;
        }
      }
    }

    .ourteam {
      .ourteam_container {
        padding-left: 50px;
        padding-right: 50px;

        .ourteam_flexbox {
          .ourteam_img {
            width: 250px;
          }
        }
      }
    }

    .what_people_say {
      .testimonials_flexbox {
        flex-direction: column;
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }

  .faq {
    div {
      width: 500px;
    }
  }
}
