@import '../utils/variables';
footer h3{
    font-family: 'Montserrat', sans-serif;
    color: $whitefont;
    font-size: 21px;
}

footer a, p, span{
    font-family: 'Hind', sans-serif;
    color: $global-font-color;
}

.s1{
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 7vw;
        color: $whitefont;
    }
    p{
        font-family: 'Hind', sans-serif;
        color: $whitefont;
        font-size: 1em;
        opacity: 65%;
    }
}

.s2{
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5em;
    }
    h3{
        color: $whitefont;
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
    }

    p{
        font-family: 'Hind', sans-serif;
        font-size: 1.2em;
    }

    .under_title{
        p{
        font-size: 0.9em;
        font-weight: 900;
        }
    }
}