@import '../utils/variables';
footer h3{
    font-family: 'Montserrat', sans-serif;
    color: $whitefont;
    font-size: 21px;
}

footer a, p, span{
    font-family: 'Hind', sans-serif;
    color: $global-font-color;
}

.s1{
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 7vw;
        color: $whitefont;
    }
    p{
        font-family: 'Hind', sans-serif;
        color: $whitefont;
        font-size: 1em;
        font-weight: 600;
        opacity: 55%;
    }
}

.s2{
    
    &__buttonendpage{
        font-family: 'Hind', sans-serif;
        font-weight: 800;
        font-size: 1.1em;
    }
    
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5em;
    }
    h3{
        color: $whitefont;
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
    }

    div{
        button{
            font-weight: 900;
        }
    }
    p{
        font-family: 'Hind', sans-serif;
        font-size: 1.2em;
    }

    .under_title{
        p{
        font-size: 0.9em;
        font-weight: 900;
        }
    }
}

.s3{
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5em;
    }
    h3{
        color: $whitefont;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-family: 'Hind', sans-serif;
        font-size: 1.2em;
    }
}

.s4{
    h2{
        font-size: 3.5em;
        font-family: 'Montserrat', sans-serif;
        color: $dark-background;
    }
    p{
        font-family: 'Hind', sans-serif;
        font-size: 1.2em;
    }
    h5{
        font-family: 'Montserrat', sans-serif;
        color: $global-font-color;
        letter-spacing: 2px;
        font-size: 0.9em;
    }
}

.s5{
    figcaption{
        font-family: 'Hind', sans-serif;
        color: $whitefont;
    }
}