@charset "UTF-8";
@import url(../utils/_variables.sass);
@import url(/layouts/navbar.css);
@import url(/layouts/footer.css);
* {
  padding: 0;
  margin: 0;
}

header {
  font-family: "Hind", "sans-serif";
  font-size: 16px;
  color: #777;
  height: 100vh;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #222222;
}
nav div {
  display: flex;
  align-items: center;
}
nav ul {
  width: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 50px;
}
nav ul li {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}
nav ul li:hover .oblique-line::before {
  display: block;
}
nav ul li .oblique-line::before {
  width: 50px;
  height: 2px;
  background-color: #f60b0e;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 0;
  content: " ";
  display: none;
}
nav ul li a {
  cursor: pointer;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
nav ul li a i {
  margin-left: 5px;
}
nav ul li a:hover {
  color: white;
}

.button_booknow {
  margin-right: 50px;
  margin-left: auto;
  border: 2px #777 solid;
  background: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #fefefe;
}
.button_booknow:hover {
  cursor: pointer;
  background-color: #777;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #222222;
    color: white;
    font-size: 14px;
  }
  nav div {
    flex-direction: column;
    padding: 20px;
  }
  nav div ul {
    flex-direction: column;
    padding: 0;
  }
  nav div ul li {
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
  }
  .button_booknow {
    display: none;
  }
}
header {
  background: rgba(27, 27, 27, 0);
  background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, rgb(27, 27, 27) 90%, rgb(27, 27, 27) 100%), url(../ressources/gallery/slide-1.jpg);
  background-size: contain;
  height: 50vh;
  filter: contrast(125%);
}
header h1 {
  text-align: center;
  font-size: 120px;
}
header h1 .about_h1_title {
  color: white;
}
header h1 .about_h1_point {
  color: red;
}

h2 {
  font-size: 44px;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", "sans serif";
}

.howtoplay {
  background-color: #222222;
  font-family: "Montserrat", "sans serif";
}
.howtoplay .howtoplay_flexbox {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.howtoplay .howtoplay_flexbox .howtoplay_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 320px;
  justify-content: space-between;
}
.howtoplay .howtoplay_flexbox .howtoplay_container .howtoplay_icon {
  width: 55px;
  border: 1px solid #717171;
  border-radius: 100px;
  padding: 30px;
}
.howtoplay h3 {
  font-size: 32px;
  color: white;
}
.howtoplay p {
  font-size: 16px;
  color: #717171;
  text-align: center;
}

.certificates {
  background-color: #1b1b1b;
}
.certificates .certificates_flexbox {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.ourteam {
  background-color: #222222;
}
.ourteam .ourteam_container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.ourteam .ourteam_container .ourteam_flexbox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 350px;
  align-items: center;
}
.ourteam .ourteam_container .ourteam_flexbox .ourteam_img {
  width: 300px;
  filter: brightness(50%);
}
.ourteam .ourteam_container .ourteam_flexbox .ourteam_member_name {
  font-size: 16px;
  color: white;
  font-family: "Montserrat", "sans serif";
}
.ourteam .ourteam_container .ourteam_flexbox .ourteam_job_title {
  font-size: 11px;
  color: #717171;
  font-family: "Montserrat", "sans serif";
}

.what_people_say {
  background-color: #1b1b1b;
  font-family: "Montserrat", "sans serif";
}
.what_people_say .read_testimonials {
  color: #f60b0e;
  text-decoration: underline;
  text-align: center;
}
.what_people_say .testimonials_flexbox {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 250px;
  padding-right: 250px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.what_people_say .testimonials_flexbox .testimonials_containers {
  display: flex;
  flex-direction: column;
  width: 310px;
  justify-content: space-between;
  align-items: center;
}
.what_people_say .testimonials_flexbox .testimonials_containers .testimonials_text {
  text-align: center;
}
.what_people_say .testimonials_flexbox .testimonials_containers .testimonials_avatar {
  width: 50px;
}
.what_people_say .testimonials_flexbox .testimonials_containers .testimonials_name {
  font-size: 11px;
}
.what_people_say .testimonials_flexbox p {
  color: #717171;
}
.what_people_say .testimonials_navigation {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.what_people_say .testimonials_navigation i {
  color: white;
}
.what_people_say .testimonials_navigation .testimonials_oblique {
  height: 5px;
  color: #717171;
  font-size: 50px;
  font-weight: 100;
  padding-bottom: 50px;
}

.faq {
  padding-bottom: 100px;
}
.faq .h2_faq {
  color: black;
  padding-bottom: 20px;
}
.faq .faq_if {
  font-size: 11px;
  color: #717171;
  text-align: center;
}
.faq div {
  width: 500px;
  margin: auto;
}
.faq div .panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.faq div .panel p {
  margin-left: 90px;
  color: #717171;
  font-family: "Hind";
}
.faq .accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: white;
  font-size: 21px;
  text-align: left;
  margin-top: 20px;
}
.faq .accordion::before {
  content: "➕"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  padding: 10px;
  color: #777;
  float: left;
  margin-left: 5px;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 50px;
  margin-right: 50px;
}
.faq .accordion .active::before {
  content: "−";
}

@media only screen and (max-width: 412px) {
  .navbar {
    display: none;
  }
  header h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 21px;
  }
  .howtoplay .howtoplay_flexbox {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }
  .howtoplay .howtoplay_flexbox .howtoplay_container {
    width: 200px;
    height: 250px;
  }
  .howtoplay .howtoplay_flexbox .howtoplay_container .howtoplay_icon {
    width: 35px;
    padding: 20px;
  }
  .howtoplay h3 {
    font-size: 19px;
  }
  .howtoplay p {
    font-size: 14px;
  }
  .ourteam .ourteam_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ourteam .ourteam_container .ourteam_flexbox .ourteam_img {
    width: 200px;
  }
  .ourteam .ourteam_container .ourteam_flexbox .ourteam_member_name {
    font-size: 12px;
  }
  .ourteam .ourteam_container .ourteam_flexbox .ourteam_job_title {
    font-size: 8px;
  }
  .certificates .certificates_flexbox {
    flex-direction: column;
  }
  .certificates .certificates_flexbox img {
    margin-bottom: 50px;
  }
  .ourteam .ourteam_container {
    flex-direction: column;
  }
  .ourteam .ourteam_flexbox {
    flex-direction: column;
  }
  .what_people_say .testimonials_flexbox {
    flex-direction: column;
    padding-left: 100px;
  }
  .what_people_say .testimonials_flexbox .testimonials_containers {
    width: 250px;
  }
  .what_people_say .testimonials_flexbox .testimonials_containers .testimonials_text {
    font-size: 14px;
  }
  .faq div {
    width: 500px;
  }
  .faq div .accordion {
    font-size: 16px;
  }
  .faq div .panel {
    width: 270px;
  }
  .faq div .panel p {
    font-size: 12px;
    width: 270px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 412px) and (max-width: 768px) and (min-width: 412px) {
  header h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 21px;
  }
  .howtoplay .howtoplay_flexbox {
    padding-left: 50px;
    padding-right: 50px;
  }
  .howtoplay .howtoplay_container {
    width: 250px;
    height: 280px;
  }
  .howtoplay .howtoplay_container .howtoplay_icon {
    width: 45px;
    padding: 25px;
  }
  .ourteam .ourteam_container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .ourteam .ourteam_container .ourteam_flexbox .ourteam_img {
    width: 250px;
  }
  .what_people_say .testimonials_flexbox {
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 412px) {
  .faq div {
    width: 500px;
  }
}
footer h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 21px;
}

footer a,
p,
span {
  font-family: "Hind", sans-serif;
  color: #717171;
}

.footer {
  min-height: 75vh;
  width: 100vw;
  background-image: url("../ressources/gallery/room-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
}
.footer a {
  text-decoration: none;
}
.footer__mpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 15vh 15vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  gap: 10%;
  background-color: rgba(66, 66, 66, 0.3);
}
.footer__mpage ul:nth-child(3) {
  display: flex;
  flex-direction: column;
  min-width: 20%;
}
.footer__mpage ul:nth-child(3) li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.footer__mpage--bold {
  color: white;
}
.footer__mpage--number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  color: #717171;
  position: relative;
  right: 30px;
  bottom: 13px;
}
.footer__mpage--number::after {
  content: "";
  width: 2em;
  height: 2px;
  border-radius: 5px;
  background: rgba(246, 11, 14, 0.3);
}
.footer__mpage--logo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
}
.footer__mpage--logo i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  aspect-ratio: 1/1;
  background-color: rgba(116, 116, 116, 0.2);
  border-radius: 100px;
  color: white;
}
.footer__mpage ul {
  align-items: flex-start;
  list-style: none;
}
.footer__mpage ul:nth-child(2) a {
  letter-spacing: 0.1em;
}
.footer__mpage ul:nth-child(4) {
  max-width: 20%;
}
.footer__mpage ul:nth-child(4) li {
  padding: 0;
}
.footer__mpage ul:nth-child(4) h3 {
  padding-bottom: 1.2em;
}
.footer__mpage h3 {
  padding-bottom: 0.5em;
}
.footer__mpage a {
  color: rgba(255, 255, 255, 0.5);
}
.footer__mpage li {
  padding-bottom: 1.1em;
}
.footer__bpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
}
.footer img {
  padding-bottom: 1em;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__mpage {
    padding: 10vh 5vw;
    gap: 8%;
  }
  .footer__mpage ul:nth-child(1) h3 {
    width: 70%;
  }
  .footer__mpage ul:nth-child(4) h3 {
    width: 70%;
  }
  .footer__mpage ul:nth-child(3) {
    min-width: 25%;
  }
  .footer__mpage ul:nth-child(3) h3 {
    width: 70%;
  }
}
@media only screen and (max-width: 412px) {
  .footer__mpage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5vh 15vw;
  }
  .footer__mpage ul:nth-child(4) {
    width: 90%;
  }
  .footer__mpage ul:nth-child(4) {
    max-width: 90%;
  }
  .footer__mpage--logo {
    display: flex;
  }
  .footer__mpage--logo i {
    width: 1.8em;
  }
}
@media only screen and (min-width: 412px) and (max-width: 768px) {
  .footer__mpage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5vh 15vw;
  }
  .footer__mpage ul:nth-child(4) {
    width: 90%;
  }
  .footer__mpage ul:nth-child(4) {
    max-width: 90%;
  }
  .footer__mpage--logo {
    display: flex;
  }
  .footer__mpage--logo i {
    width: 1.8em;
  }
}/*# sourceMappingURL=style.css.map */